{% extends 'base.html.twig' %}

{% block title %}Hello TorrentController!{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <a href="/torrents/"><- Back</a>
    <br>
    <a href="/torrents/edit/{{ torrent.id }}"> Edit </a>

    <hr>
    <h2><a href="/torrents/{{ torrent.id }}">{{ torrent.name }}</a></h2>
    <p><img src="/uploads/{{ torrent.image }}"></p>
    <p>{{ torrent.keywords }}</p>
    <p>{{ torrent.description | raw }}</p>
    <p>{{ torrent.extraInfo | raw }}</p>
    <hr>

    <p>
        <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
        <link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
		<script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>

        <video id="player" class="video-js" controls preload="auto" poster="{{ torrent.poster }}" style="width: 100%; height: auto;">
            <source id="video_hdr" label="HDR" src="{{ torrent.videoHevc }}" type="video/mp4"/>
            <source id="video_sdr" label="SDR" src="{{ torrent.videoAvc }}" type="video/mp4" selected="true"/>
        </video>

        <script>
        player = videojs("player", {
				preload: "auto",
				controls: true,
				liveui: true,
				aspectRatio: "16:9"});
                
                player.controlBar.addChild("QualitySelector");
        </script>
    </p>
    <hr>

    <a href="/logout">Logout</a>

</div>
{% endblock %}
